body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff8b8b, #e71212);
    color: white;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 40px;
    border-radius: 15px;
}

h1 {
    font-size: 3em;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.button-link {
    position: relative; /* Para posicionar o popup */
}

.button-image {
    width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-image:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 300px;
}

.container h1 {
    margin-bottom: 80px; /* Aumenta o espaço abaixo do título */
}

.button-grid {
    grid-template-columns: 1fr 1fr; /* Dois botões lado a lado */
    gap: 40px; /* Aumenta o espaço entre os botões */
}

.button-visualizar,
.button-editar {
    display: block;
    padding: 20px 40px; /* Aumenta o padding para botões maiores */
    background-color: #3498db; 
    color: white;
    text-decoration: none;
    border-radius: 10px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 1.2em; /* Aumenta o tamanho da fonte */
}

.button-visualizar:hover {
    background-color: #2980b9; /* Cor mais escura no hover */
}

.button-editar:hover {
    background-color: #c0392b; /* Cor vermelha no hover para o botão "Editar" */
}

